.botones{
    margin-top: 15px;
}

.botones:hover{
  cursor: pointer;
}

#clearButton{
  border: solid 1px;
  border-color: #488aff;
}

.toastError{
  > div{
    background-color: red !important;
    border: solid 1px red;
    border-radius: 20px;
    }
}
