<!--
  Generated template for the UserUpdateModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Update my information</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="userUpdateForm" (submit)="updateUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" value="{{user?.email}}"
                 [class.invalid]="!userUpdateForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="userUpdateForm.controls['email'] && userUpdateForm.controls['email'].touched">
      <ion-label>Sorry, this E-mail is not valid (Format: something@something.something).</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text" value="{{user?.name}}"
                 [class.invalid]="!userUpdateForm.controls.name.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="userUpdateForm.controls['name'] && userUpdateForm.controls['name'].touched">
      <ion-label>Name is required and should be more than 3 characters long</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Surname</ion-label>
      <ion-input formControlName="surname" type="text" value="{{user?.surname}}"
                 [class.invalid]="!userUpdateForm.controls.surname.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="userUpdateForm.controls['surname'] && userUpdateForm.controls['surname'].touched">
      <ion-label>Surnfame is required and should be more than 3 characters long</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>User Name</ion-label>
      <ion-input formControlName="userName" type="text" value="{{user?.userName}}"
                 [class.invalid]="!userUpdateForm.controls.userName.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
              *ngIf="!userUpdateForm.controls['userName'].valid && userUpdateForm.controls['userName'].touched">
      <ion-label>Sorry! username is either already taken or too short.</ion-label>
    </ion-item>

    <button ion-button inline-block color="primary" type="submit" [disabled]="!userUpdateForm.valid">
      Update my information
    </button>
  </form>

  <button ion-button clear inline-block (click)="changePassword()" >
    Change my password
  </button>

</ion-content>
